<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-card-right">
    <ion-card-content>
      <ion-item lines="true">
        <ion-label position="stacked">CPF:</ion-label>
        <ion-input type="text" maxlength="11" placeholder="Ex: 82227955546" [(ngModel)]="cpf"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Senha: </ion-label>
        <ion-input type="password" [type]="mostrarSenha ? 'text' : 'password'" maxlength="8" placeholder="Máx. 8 dígitos" counter="true" [(ngModel)]="senha"></ion-input>
        <ion-button (click)="toggleMostrarSenha()">
          <ion-icon name="{{ mostrarSenha ? 'eye-off-outline' : 'eye-outline' }}"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-button expand="block" (click)="cadastrar(cpf, senha)">Cadastrar</ion-button>
    </ion-card-content>
  </ion-card>
  
  

  <ion-img alt="imagem de acordo" class="background-image" src="../../assets/icon/cadastroImagem.jpg"></ion-img>
  
</ion-content>
