  
  .content {
    --background: white; /* Define a cor de fundo do conteúdo como branco */
  }

  .ion-card-white {
    background-color: #ffffff; /* Cor de fundo branca */
  }
  
  .custom-ion-card {
    height: 200px; /* Defina a altura desejada */
  }

  .pago {
    color: green; /* Define a cor do texto como verde */
  }
  
  
 

