.content {
    --ion-background-color: white; /* Define o fundo branco */
  }
  
  .cards-grid {
    padding: 20px; /* Adiciona espaçamento ao redor da grade */
  }
  
  ion-card {
    height: 100%; /* Define a altura dos cartões como 100% */
    margin-bottom: 20px; /* Adiciona espaçamento entre os cartões */
  }
  