.content {
    --ion-background-color: white; /* Define o fundo branco */
  }
  
  .cards-grid {
    padding: 20px; /* Adiciona espaçamento ao redor da grade */
  }
  
  ion-card {
    height: 100%; /* Define a altura dos cartões como 100% */
    margin-bottom: 20px; /* Adiciona espaçamento entre os cartões */
  }

  .card1 {
    background-image: url('../../assets/img_financa/economizar.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }

  .card2 {
    background-image: url('../../assets/img_financa/Planejamento.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }

  .card3 {
    background-image: url('../../assets/img_financa/ImpostoDeRenda.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }

  .card4 {
    background-image: url('../../assets/img_financa/Empreendorismo.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }

  .card5 {
    background-image: url('../../assets/img_financa/PlataformaDigital.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }

  .card6 {
    background-image: url('../../assets/img_financa/Bolsa\ de\ valores.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }

  .card7 {
    background-image: url('../../assets/img_financa/TemposDeCrise.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }

  .card8 {
    background-image: url('../../assets/img_financa/NuInvest.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }

  .card9 {
    background-image: url('../../assets/img_financa/IANegocios.jpg');
    background-size: cover; /* A imagem irá cobrir todo o espaço do cartão */
    background-position: center;
  }
  